
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 128px 78px;
    border: 2px solid;
    border-color: #7f969a;
}

section#flexbox {
    background: linear-gradient(107deg, rgba(2,0,36,1) 0%, rgba(205,205,205,1) 28%, rgba(205,205,205,1) 75%, rgba(127,150,154,1) 100%);
}

section#flexbox .outerbox {
    width: 580px;
    height: 380px;
}

section#flexbox .container-horizontal {
    flex: 1;
    padding: 10px;
    column-gap: 10px;
    display: flex;
    padding: 0px;
    gap: 10px;
}

section#flexbox .container-vertical {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
}

section#flexbox .inner {
    flex: 1;
}

section#flexbox .red {
    background-color: lightcoral;
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    padding: 10px;
}
section#flexbox .blue {
    background-color: lightblue;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    padding: 10px;
}
section#flexbox .green {
    border-width: 2px;
    border-style: solid;
    border-color: darkgreen;
    background-color: rgb(191, 238, 191);
    padding: 10px;
}
section#flexbox .golden {
    border-width: 2px;
    border-style: solid;
    border-color: coral;
    background-color: wheat;
    padding: 10px;
}

section#flexbox .middle {
    flex: 2;
}
section#rock-paper-scissors {

    background: linear-gradient(-73deg, rgba(77,112,142,1) 0%, rgba(210,227,242,1) 30%, rgba(240,248,255,1) 75%, rgba(255,255,255,1) 100%);
}

section#EdgeASketch {
    gap: 20px;
}

section#EdgeASketch * {
    margin: 0px;
    padding: 0px;
}

div#EASBoard {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 80%;
    aspect-ratio: 1 / 1;
    border: 2px black solid;
}
div.eas-row {
    display: flex;
    flex: 1;
}
div.eas-pixel {
    flex: 1;
}

section#calculator {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.calc-frame {
    border: 2px gray solid;
    border-radius: 8px;
    background: linear-gradient(-32deg, rgba(161,179,194,1) 0%, rgba(197,214,228,1) 30%, rgba(240,248,255,1) 75%, rgba(255,255,255,1) 100%);
}

.calc-display {
    border: 2px yellowgreen solid;
    background-color: yellow;
    text-align: end;
    font-size: 32px;
    margin: 20px 16px;
    padding: 10px 20px;
}
.calc-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px;
}
.calc-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.calc-button {
    display: flex;
    width: 80px;
    height: 60px;
    background-color:darkseagreen;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.calc-button:active {
    background-color: darkslategrey;
}

#zero {
    flex: 2;
}