
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 128px 78px;
    border: 2px solid;
    border-color: #7f969a;
}

section#flexbox {
    background: linear-gradient(107deg, rgba(2,0,36,1) 0%, rgba(205,205,205,1) 28%, rgba(205,205,205,1) 75%, rgba(127,150,154,1) 100%);
}

section#flexbox .outerbox {
    width: 580px;
    height: 380px;
}

section#flexbox .container-horizontal {
    flex: 1;
    padding: 10px;
    column-gap: 10px;
    display: flex;
    padding: 0px;
    gap: 10px;
}

section#flexbox .container-vertical {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
}

section#flexbox .inner {
    flex: 1;
}

section#flexbox .red {
    background-color: lightcoral;
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    padding: 10px;
}
section#flexbox .blue {
    background-color: lightblue;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    padding: 10px;
}
section#flexbox .green {
    border-width: 2px;
    border-style: solid;
    border-color: darkgreen;
    background-color: rgb(191, 238, 191);
    padding: 10px;
}
section#flexbox .golden {
    border-width: 2px;
    border-style: solid;
    border-color: coral;
    background-color: wheat;
    padding: 10px;
}

section#flexbox .middle {
    flex: 2;
}
section#rock-paper-scissors {

    background: linear-gradient(-73deg, rgba(77,112,142,1) 0%, rgba(210,227,242,1) 30%, rgba(240,248,255,1) 75%, rgba(255,255,255,1) 100%);
}